
# Files to ignore in source control
*.gem
.bundle
.ruby-version
.jekyll-cache
.sass-cache
_site
Gemfile.lock
node_modules

# MacOS cache files
.DS_Store

# VSCode files
.vscode/settings.json

# Diagrams.net backup and temp files
*.bkp
*.dtmp
